[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"
beautifulsoup4 = "*"
pyyaml = "*"

[dev-packages]
mypy = "*"
pytest = "*"
types-pyyaml = "*"

[requires]
python_version = "3.13"
